.reviewsContainer {
  padding:2%;
  border: 1px rgb(203, 203, 203) solid;
  border-radius: 15px;
  margin-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 20px;
  /* background-color: rgb(207, 207, 207); */
}

.reviewBox {
  padding: 3px;
  /* border: 1px black solid; */
}

.reviewUserIcon {
  height: 30px;
  margin-top: 5%;
  margin-right: 3%;
}

.reviewName,
.reviewDate {
  font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
  sans-serif;
  font-size: 15px;
  /* border: 1px solid red; */
}

.reviewReview {
  font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
  sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
}

.reviewDescript {
  font-size: 16px;
  font-weight: 400;
  color: rgb(0, 0, 0, 0.7);
}

.reviewDate {
  margin-top: -10px;
  margin-bottom: 2%;
  margin-left: 14%;
}

.reviewDate {
  display: flex;
  justify-content: flex-start;
  width: 80px;
}

.dateReview {
  display: flex;
  padding: 5px;
  width: 350px;
  /* border: 1px solid red; */
}

.reviewName,
.reviewReview {
  font-weight: 500;
}

.reviewuser-date {
  border: 1px solid red;
}

.reviewProfile {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.reviewReview {
  display: grid;
  /* border: 1px solid red; */
}

.reviewsText {
  color: rgb(0, 0, 0, 0.5);
  font-size: 14.5px;
  font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
  sans-serif;
  margin-top: 5px;
  max-width: 300px;
  word-wrap: break-word;
  /* border: 1px solid red; */
}

.reviewDeleteButton {
  background-color: rgb(233, 0, 0);
  color: white;
  border: white solid 1px;
  border-radius: 12px;
  font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
  sans-serif;
  font-size: 15px;
  font-weight: 600;
  height: 40px;
  width: 120px;
  margin-top: 5px;
}

.reviewDeleteButton:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(233, 0, 0);
  border: rgb(233, 0, 0) solid 1px;
  transition: all 1s;
}
