.reviewsContainer {
  padding:2%;
  width: 200px;
  border: 1px rgb(203, 203, 203) solid;
  border-radius: 15px;
  margin-right: 50px;
  margin-top: 20px;
  padding-left: 12%;
  /* background-color: rgb(207, 207, 207); */
}

.reviewBox {
  display: flex;
  justify-content: center;
  width: 250px;
  padding: 3px;
  /* border: 1px black solid; */
}

.reviewSquare {
  display: flex;
  justify-content: center;
  /* border: 1px black solid; */
}

.reviewUserIcon {
  height: 30px;
  margin-top: 8%;
}

.reviewName,
.reviewDate {
  font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
  sans-serif;
  font-size: 15px;
  /* border: 1px solid red; */
}

.reviewReview {
  font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
  sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
}

.reviewDescript {
  font-size: 16px;
  font-weight: 400;
  color: rgb(0, 0, 0, 0.7);
}

.reviewDate {
  margin-top: -5%;
  margin-bottom: 6%;
  margin-left: 16%;
}

.reviewDate {
  display: flex;
  justify-content: flex-start;
  width: 80px;
}

.dateReview {
  display: flex;
  padding: 5px;
  width: 375px;
  /* border: 1px solid red; */
}

.reviewName,
.reviewReview {
  font-weight: 500;
  margin-left: 6px;
}

.reviewuser-date {
  border: 1px solid red;
}

.reviewProfile {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.reviewReview {
  /* border: 1px solid red; */
  display: grid;
}

.reviewsText {
  color: rgb(0, 0, 0, 0.5);
  font-size: 14.5px;
  font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
  sans-serif;
  margin-top: 5px;
  /* border: 1px solid red; */
}

.reviewDeleteButton {
  background-color: rgb(233, 0, 0);
  color: white;
  border: white solid 1px;
  border-radius: 18px;
  font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
  sans-serif;
  font-size: 15px;
  font-weight: 600;
  height: 40px;
  width: 120px;
  margin-top: 5px;
}

.reviewDeleteButton:hover {
  cursor: pointer;
}
