.nameSpot {
  font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
  sans-serif;
  font-size: 26px;
  font-weight: 500;
  padding: 10px;
}

.ratingSpot {
  font-weight: 500;
  font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
  sans-serif;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.editDeleteSpot {
  padding: 10px;
}

.stateSpot {
  font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
  sans-serif;
  font-weight: 500;
  /* border: 1px solid black; */
  /* width: 190px; */
}

.fa-star {
  font-size: 15px;
  margin-top: 4px;
  padding-right: 3px;
}

.imgDivfs {
  display:flex;
  justify-content: center;
  height: 600px;
  width: 100%;
}

.imageSpotfs {
  height: 100%;
  width: 50%;
  border-radius: 20px;
}

/* .bottomText {
  padding: 20px;
} */

.deleteButton {
  background-color: rgb(233, 0, 0);
  color: white;
  border: white solid 1px;
  border-radius: 12px;
  font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
  sans-serif;
  font-size: 15px;
  font-weight: 600;
  height: 40px;
  width: 85px;
  /* margin-bottom: 20px; */
}

.deleteButton:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(233, 0, 0);
  border: rgb(233, 0, 0) solid 1px;
  transition: all 1.5s;
}

.pricesSpot,
.nightsSpot,
.descriptSpot {
  font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
  sans-serif;
}

.descriptSpot {
  font-size: 17px;
}

.pricesSpot {
  font-weight: 500;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.nightsSpot {
  font-size: 14px;
  margin-left: 5px;
  font-weight: lighter;
}

.descriptSpot {
  margin-bottom: 10px;
}

.spotstarReviews {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
  sans-serif;
  font-size: 15px;
}

.outsideStar {
  color: rgb(0, 0, 0, 0.8);
  /* font-weight: lighter; */
  /* border: 1px red solid; */
  margin-left: 3%;
}

.reviewStar {
  margin-bottom: 4%;
  color: rgb(0, 0, 0, 0.8);
}

.editDeleteSpot,
.imgDiv,
.createReviewSpot,
.descriptSpot {
  display: flex;
  justify-content: center;
}

.priceNightfs {
  display: flex;
  justify-content: space-between;
  margin-right: 25%;
  width: 950px;
  margin-top: 1.5%;
  margin-left: 25%;
  margin-bottom: 1.5%;
  /* border: 1px solid red; */
}

.descriptSpot {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
  color: rgb(0, 0, 0, 0.7);
  /* border: 1px solid red; */
  margin-right: 2%;
  width: 500px;
}

.spotdetailBox {
  width: 400px;
  display: flex;
  justify-content: space-between;
  border: 1px rgb(178, 178, 178, 0.25) solid;
  border-radius: 15px;
  box-shadow: 5px 10px 20px rgb(178, 178, 178, 0.5);
  padding: 18px;
  margin-right: 2%;
  /* margin-left: 3%; */
}

.spotstarReviews {
  display: flex;
}

.emptyBorder {
  margin-top: 1%;
  margin-bottom: 1%;
  border: solid 1px rgb(230, 230, 230, 0.7);
  width: 950px;
  display: flex;
  margin-left: 25%;
}

.allReviewSpot {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 0.5%;
  margin-top: 4%;
  /* border: black 1px solid; */
}

.bottomAvgCount {
  width: 1000px;
}

.reviewCardStar {
  font-size: 22px;
}

.nameSpot {
  margin-left: 25%;
  /* border: 1px black solid; */
}

.outsideStar {
  display: flex;
  justify-content: flex-start;
  margin-right: 32%;
}

.bigStar {
  font-size: 23px;
}

.bottomAvgCount {
  font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
  sans-serif;
  font-size: 23px;
  margin-left: 25%;
}

.reviewsCard {
  width: 1000px;
  margin-bottom: 5%;
  /* border: 1px solid red; */
}

.profileReview {
  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
}
