.nameSpot {
  font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
  sans-serif;
  font-size: 26px;
  font-weight: 500;
  padding: 10px;
}

.ratingSpot {
  font-weight: 500;
  font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
  sans-serif;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.editDeleteSpot {
  padding: 10px;
}

.stateSpot {
  font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
  sans-serif;
  font-weight: 500;
  /* border: 1px solid black; */
  /* width: 190px; */
}

.fa-star {
  font-size: 15px;
  margin-top: 4px;
  padding-right: 3px;
}

.imgDivfs {
  display:flex;
  justify-content: center;
  height: 600px;
  width: 100%;
}

.imageSpotfs {
  height: 100%;
  width: 50%;
  border-radius: 20px;
}

.bottomText {
  padding: 20px;
}

.deleteButton {
  background-color: rgb(233, 0, 0);
  color: white;
  border: white solid 1px;
  border-radius: 18px;
  font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
  sans-serif;
  font-size: 15px;
  font-weight: 600;
  height: 40px;
  width: 85px;
  /* margin-bottom: 20px; */
}

.deleteButton:hover {
  cursor: pointer;
}

.pricesSpot,
.nightsSpot,
.descriptSpot {
  font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
  sans-serif;
}

.descriptSpot {
  font-size: 18px;
}

.pricesSpot {
  font-weight: 500;
  font-size: 18px;
}

.nightsSpot {
  font-size: 15px;
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.descriptSpot {
  margin-bottom: 10px;
}

.nameSpot,
.outsideStar,
.editDeleteSpot,
.imgDiv,
.createReviewSpot,
.priceNightfs,
.descriptSpot {
  display: flex;
  justify-content: center;
}

.emptyBorder {
  margin-top: 2%;
  border: solid 1px rgb(230, 230, 230);
}

.allReviewSpot {
  display: flex;
  flex-wrap: wrap;
}
