.nameSpot {
  font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
  sans-serif;
  font-size: 26px;
  font-weight: 500;
}

.ratingSpot {
  font-weight: 500;
  font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
  sans-serif;
}

.stateSpot {
  font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
  sans-serif;
  font-weight: 500;
  border-bottom: 1px solid black;
  width: 190px;
}

.fa-star {
  font-size: 12px;
}

/* .imgDiv { */
  /* border: 1px solid red; */
/* } */

.imageSpot {
  /* border: 1px solid red; */
  margin-top: 20px;
  height: 400px;
  width: 400px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.bottomText {
  padding: 20px;
  margin-top: 110px;

}
