.loginModal {
  margin: 0, 5px, 0, 0;
}

.homeLoginSignUp {
  display:flex;
  justify-content: space-between;
  margin-right: 50px;
  margin-top: 20px;
  /* border: red solid 1px; */
}

.navHome {
  /* border: solid black 1px; */
  color: black;
  font-size: 16px;
  font-weight: 500;
  font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
  sans-serif;
  text-decoration: none;
}

.bnbLogo {
  display: flex;
  margin-left: 50px;
}

.fa-brands,
.awayBnB {
  color: rgb(260, 0, 0);
}

.fa-brands {
  margin-right: 10px;
}

.awayBnB {
  font-weight: 500;
  font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
  sans-serif;
  font-size: 23px;
  margin-top: 8px;
}
