.loginModal {
  margin: 0, 5px, 0, 0;
}

.homeLoginSignUp {
  display:flex;
  flex-direction: row;
}

/* .loginSignUp {

} */

.navHome {
  color: black;
  border: none;
  font-size: 16px;
  font-weight: 500;
  font-family: Circular, -apple-system, "system-ui", Roboto, Helvetica Neue,
  sans-serif;
  text-decoration: none;
  margin-bottom: 10px;
}
